<!-- ============= -->
<!-- START Gráfica -->
<!-- ============= -->
<div class="row">
    <div class="col-6">
        <app-donut [tituloGrafica]="titulo1" [labels]="labels1" [data]="data1"></app-donut>
    </div>
    
    <div class="col-6">
        <app-donut></app-donut>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-donut></app-donut>
    </div>

    <div class="col-6">
        <app-donut></app-donut>
    </div>
</div>
<!-- ============= -->
<!-- END   Gráfica -->
<!-- ============= -->