
.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor{
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}
 
.google-btn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-avatar {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w75 {
    width: 75px;
}

.avatar {
    border: 1px solid gray;
    width: 75px;
    border-radius: 100%;
}

.w140 {
    width: 140px;
}

.w200 {
    width: 200px;
}

.fondo-modal-imagen {

    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto {
    display: none;
}