
.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor{
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}
 
.google-btn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-avatar {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}