<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Usuario"
          (keyup)="buscar(txtTermino.value)"
          #txtTermino
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="cargando" class="row">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">Usuarios registrados</h6>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Rol</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <!-- Se puede pasar por un PIPE que evalue este argumento -->
                <td class="text-center">
                  <img
                    class="avatar cursor"
                    [src]="usuario.imagenURL"
                    (click)="abrirModal(usuario)"
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>

                <td>
                  <select
                    class="form-control"
                    (change)="cambiarRole(usuario)"
                    [(ngModel)]="usuario.role"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>

                <td>
                  <span *ngIf="usuario.google" class="label label-warning"
                    >Google</span
                  >
                  <span *ngIf="!usuario.google" class="label label-success"
                    >Email</span
                  >
                </td>

                <td class="text-nowrap text-center">
                  <a
                    (click)="eliminarUsuario(usuario)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Close"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="txtTermino.value.length === 0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary mr-2">
            Anterior
          </button>
          <button (click)="cambiarPagina(5)" class="btn btn-secondary">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
